.container {
  display: flex;
  background-color: #dee7f9;
  padding: 2rem;
  border-radius: 12px;
  width: 95%;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.infoPanel {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  @media (max-width: 768px) {
    width: 90%;
  }
}

.typeTextTitle {
  color: #3f72af;
  font-size: 1.25rem;
  font-weight: 400;
}

.typeTextType{
  color: #3f72af;
  font-size: 1.5rem;
  font-weight: bold;
}

.areaInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.areaItem {
  background-color: lighten(#e7f0ff, 20%);
  padding: 0.5rem;
  border-radius: 8px;
  text-align: center;

  span {
    display: block;
  }

  .areaSize {
    font-size: 1.2rem;
    font-weight: bold;
    color: #3f72af;
  }
}

.floorPlan {
  margin-top: 1rem;

  .thumbnail {
    width: 100%;
    border: 1px solid #3f72af;
    border-radius: 8px;
  }
}

.button {
  margin-top: 1.5rem;
  background-color: #5b7eed;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  height: 30px;
  padding: 10px;
  display: flex;
  align-items: center;


  &:hover {
    background-color: darken(#3f72af, 10%);
  }
}

.layoutImageContainer {
  max-height: 600px;
  width: 70%;
  padding-left: 1rem;

  img {
    width: 100%;
    border-radius: 12px;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%; 
  }
}