.selection{
    color: #456eef;
    font-weight: 300;
    margin:5px 25px;
    cursor: pointer;


    &--selected {
        font-weight: bold;
        text-decoration: underline;
    }
}
.navigatorContianer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 12px;
    width: 95%;
    flex-wrap: wrap;
}