.customLine{
    color: #0f1f44;
    margin: 10px 90% 10px 0px;
    border-top: 3px solid;
}

.contactInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 50px;
}