@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.contactForm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    height: 100%;
    border-radius: 10px;
}
.contactFormInput{
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 30vw;
}

.input{
    all:unset;
    border-bottom: solid black 1px;
    padding: 15px 0px;
    color: var(--earth-color);

    &_textArea {
        all:unset;
        border-bottom: solid black 1px;
        padding: 15px 0px;
        height: 5rem;
        color: var(--earth-color);

        &::placeholder {
            color: var(--earth-color);
            opacity: 30%;
        }
    }

    &::placeholder {
        color: var(--earth-color);
        opacity: 30%;
    }
}

.inputMessage{
    all: unset;
}
.contactFormContainer{
    animation: fadeIn 1s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #8daef4;
    border-radius: 30px;
    width: 100%;
}

.button {
    margin-top: 3rem;
    background-color: #456eef;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    height: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-left: 10px;
  
  
    &:hover{
        background-color: rgba($color: #456eef, $alpha: 1.0);
    }
  }

  .contactFormTitle {
    text-align: left;
    color: var(--earth-color);
    margin-left: 10px;
  }