.bannerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--earth-color);
    color: white;
    padding-top: 10rem;
    padding-bottom: 5rem;
}
.bannerTitle{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 500;
    margin: 20px;
}
.bannerText{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 20px;
}