/* components/Footer.module.scss */

.footer {
    width: 100%;
    height: 15rem;
    background-color: var(--earth-color);
    color: var(--sea-color);
    display: flex;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 3rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    

  
    &_section {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            align-items: start;
            align-self: flex-start;

            strong {
                color: var(--sea-color);
                font-weight: bold;
            }
        }
    }

    &_speak {
        position: relative;
        text-align: center;
        margin-top: 1rem;
        align-self: flex-start;
        &_text {
            position: absolute;
            color: white;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: large;
        }
    }
    &_logos {
        width: 120%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
    }
  }
  