.homeMap {
    width: 70%;
    height: 50%;
    margin-top: 5rem;
    position: relative;

    &_map{
        width: 100%;
        height: auto;
        border-radius: 50px;
        position: absolute;
    }
}
