@use '@/styles/Variables.module.scss' as *;

.homeSocial {
    width: 70%;
    max-width: 1200px;
    background-color: var(--nature-color);  
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -7rem;
    z-index: 2;

    &_grid{
        width: 70%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
        align-items: center;
        padding: 0 1rem;
        margin-top: 4rem;
    }

    &_title {
        width: fit-content;
        color: white;
        font-size: 3rem;
        font-weight: 20;
        margin-top: 3rem;
        border-bottom: 1px solid white;
        padding-bottom: 0.7rem;
        text-align: center;
    }
    @include md{
        width: 90%;
    }
    @include sm{
        margin-top: -2rem;
        &_title {
            font-size: 2rem;
        }
    }
}

.building {
    grid-column: 1;
    grid-row: 1;
}

.parking {
    grid-column: 1;
    grid-row: 2;
}

.rooftop {
    grid-column: 1;
    grid-row: 3;
}

.lobby {
    grid-column: 2;
    grid-row: 1;
}

.pool {
    grid-column: 2;
    grid-row: 2;
}

.sauna {
    grid-column: 2;
    grid-row: 3;
}

.bbq {
    grid-column: 3;
    grid-row: 1;
}

.games {
    grid-column: 3;
    grid-row: 2;
}

.gym {
    grid-column: 3;
    grid-row: 3;
}

.knowSocialZones {
    width: 80%;
    height: 75px;
    position: relative;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    &_logo{
        width: auto;
        height: 50px;
        opacity: 85%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &_text{
        width: fit-content;
        font-size: 1.3rem;
        font-weight: bolder;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
        color: var(--nature-color)
    }
    &Cta{
        background-color: var(--sand-color);
        display: inline-block;
        padding: 17px 50px;
        line-height: 1;
        color: var(--nature-color);
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        transition: all 0.3s ease-in-out;
        border-radius: 10px;
        cursor: pointer;
        &:hover{
            background-color: rgba( $color:#001038 , $alpha: 1.0);
            color: var(--sand-color) ;
        }
    }
}

