@use '@/styles/Variables.module.scss' as *;
.homeMap {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
    background-color: $sand-color;
    &_container{
        width: 100%;
        max-width: 1200px;
        margin: 0 50px;
    }
    &_map{
        box-shadow: 5px 4px 8px #0202024f;
        border-radius: 50px;
        width: 100%;
        object-fit: contain;
        height: auto;
    }
}
