@use '@/styles/Variables.module.scss' as *;


.lifestyle{
    display: flex;
    width: 100%;
    height: 80%;
    column-gap: 7%;
    background-color: white;
    color: black;
    max-width: 1200px;
    padding: 100px 15px;
    margin: 0 auto;
    position: relative;
    .copyContainer{
        max-width: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &_info{

        &_header {

            grid-column: 1;
            grid-row: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            &_title {
                width: 15rem;
                height: auto;
                filter: invert(45%) sepia(68%) saturate(328%) hue-rotate(21deg) brightness(94%) contrast(94%);
                margin-bottom: 5px;
            }

        }

        &_description {

            grid-column: 1;
            grid-row: 3;

            &_location {
                border-bottom: 1px solid black;
                padding-bottom: 0.7rem;
            }

            &_text {
                margin-top: 0.7rem;
            }
        }

    }

    &_carousel {
        width: 60%;
        min-height: 500px;
        position: relative;
        aspect-ratio: 16 / 9;


        &_image {
            width: '100%';
            height: auto;
            position: absolute;
            border-radius: 20px;
        }
    } 
    @include md {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        &_info{
            width: 100%;
            margin: auto;
        }
        &_carousel{
            width: 100%;
        }
    }
}