.lifestyle{
    display: grid;
    width: 100%;
    height: 80%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    column-gap: 7%;
    background-color: white;
    color: black;
    padding: 10%;

    &_info{

        &_header {

            grid-column: 1;
            grid-row: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            &_title {
                width: 15rem;
                height: auto;
                filter: invert(45%) sepia(68%) saturate(328%) hue-rotate(21deg) brightness(94%) contrast(94%);
                margin-bottom: 5px;
            }

        }

        &_description {

            grid-column: 1;
            grid-row: 3;

            &_location {
                border-bottom: 1px solid black;
                padding-bottom: 0.7rem;
            }

            &_text {
                margin-top: 0.7rem;
            }
        }

    }

    &_carousel {
        grid-column: 2 / 4;
        grid-row: 1 / 5;
        width: 100%;
        height: 100%;
        position: relative;


        &_image {
            width: '100%';
            height: auto;
            position: absolute;
            border-radius: 20px;
        }
    }
}