.nav {
  position: fixed;
  width: 100vw;
  color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 10;
  padding: 20px;
  transition: all 0.5s ease-in;
  
  &_top{
    background-color: #00000000;
  }
  
  &_scrolled {
    background-color: var(--earth-color);
  }
}

.navHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 25vw;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
  column-gap: 3rem;
  justify-content:space-around;
  @media (max-width: 768px) {
    justify-content: flex-start;
    gap: 10px;
  }
}

.navLogo { 
  height: 70px;
}

.links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  cursor: pointer;
  &_scrolled{
    @media (max-width: 768px) {
      display: none;

      &:hover {
        display: flex;
      }
    }
  }
}