.nav {
  position: fixed;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 10;
  padding: 20px;
  transition: all 0.5s ease-in;
  
  &_top{
    background-color: #00000000;
  }
  
  &_scrolled {
    background-color: var(--earth-color);
  }
}

.navHeader {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.navLinks {
  width: 70%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.navLogo { 
  height: 70px;
}

.links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  cursor: pointer;
}