.container {
    margin-top: 3rem;
}

.logo_container {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    width: 25px;
    height: 25px;
}

.label { 
    font-weight: 400;
    font-size: large;
    color: var(--wind-color);
    margin-bottom: 10px;
}