@use '@/styles/Variables.module.scss' as *;

.ZonasSocialesCarousel{
    height: 100vh;
}


.swiper {
    width: 100%;
    height: 100%;
}




.swiper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
    .swiper-wrapper{
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            position: relative;
        
            /* Center slide text vertically */
            display: flex;
            justify-content: center;
            align-items: center;
            .copy{
                width: 300px;
                border-radius: 50px;
                padding: 50px 50px 30px;
                position: absolute;
                top: 5%;
                left: 10%;
                color: $sand-color;
                text-align: left;
                &.odd{
                    background-color: $earth-color;
                }
                &.even{
                    background-color: $sun-color;
                }
                
                p{
                    margin-top: 1rem;
                }
            }
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

    }
}

.mySwiper {
    height: 20%;
    padding: 0 10%;
    box-sizing: border-box;
    background-color: $sand-color;
    .swiper-slide {
        padding: 40px 0px;
        width: 25%;
        height: 100%;
        opacity: 0.4;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .swiper-slide-thumb-active {
        opacity: 1;
    }
}



