$background: #ffffff;
$foreground: #171717;

$sun-color: #f15a22;
$white-color: #ffffff;
$sunset-color: #fbaba2;
$sand-color: #efdec7;
$wind-color: #456eef;
$nature-color: #828236;
$sea-color:#8daef5;
$earth-color: #001038;


$primary-font-family: var(--font-work-sans) ;
$secondary-font-family: var(--font-mansory) ;


// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;


// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --sun-color: #f15a22;
  --white-color: #ffffff;
  --sunset-color: #fbaba2;
  --sand-color: #efdec7;
  --wind-color: #456eef;
  --nature-color: #828236;
  --sea-color:#8daef5;
  --earth-color: #001038;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
p, li, td, a, div, span, h1, h2, h3, h4, h5, h6 {
  font-family: $primary-font-family;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
