.homeCarousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.carouselContent {
    display: grid;
    height: 37rem;
    width: 90%;    
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
    z-index: 1;
}

.arrow {
    &_left {
        width: 50px;
        height: 50px;
        transform: rotate(90deg);
        &_container {
            grid-column: 1;
            grid-row: 2;
        }
    }

    &_right {
        width: 50px;
        height: 50px;
        transform: rotate(-90deg);
        &_container {
            grid-column: 3;
            grid-row: 2;
            display: flex;
            justify-content: flex-end;
        }
    }

    &_bottom {
        width: 50px;
        height: 50px;
        &_container {
            grid-column: 2;
            grid-row: 3;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
        }
    }
}

.carouselText {

    grid-column: 2;
    grid-row: 2;
    text-align: center;

    &_title {
        font-size: 2.5rem;
        font-weight: 50;
    }

    &_subTitle {
        font-size: 1.5rem;
    }
}

.knowMore {
    width: max-content;
    height: 75px;
    position: relative;
    &_logo{
        width: 150px;
        height: 75px;
        opacity: 60%;
    }
    &_text{
        width: 100%;
        font-size: 1.2rem;
        font-weight: bold;
        position: absolute;
        top: 37%;
    }
}

.phone {
    &_container {
        grid-column: 3;
        grid-row: 3;
        display: flex;
        justify-content: flex-end;
    }
    &_background {
        width: 50px;
        height: 50px;
        opacity: 75%;
    }
}

.backgroundImage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}