.homeAirView {
    width: 100%;
    height: 40rem;
    position: relative;
    &_image {
        position: absolute;
    }

    &_btn {
        width: 100%;
        height: 75px;
        position: absolute;
        bottom: 15%;
        &_logo{
            width: auto;
            height: 50px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        &_text{
            width: fit-content;
            font-size: 1.3rem;
            font-weight: bolder;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            white-space: nowrap;
            color: white
        }
    }
}