@use '@/styles/Variables.module.scss' as *;

.quadSection {
    width: 100%; /* Full height of the viewport */
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: $sand-color;
    background-image: url('/images/fondo1.svg');
    background-color: $sand-color;
    background-attachment: fixed;
    &Container{
        max-width: 1200px;
        display: flex;
        justify-content: center;
        background-color: #f15a22;
        border-radius: 50px;

        .imageContainer {
            width: 50%;
            border-radius: 50px;
        }
        
        .imageContainer img {
            min-height: 500px;
            width: 100%;
            height: 100%;
            object-fit: cover; 
            @include md{
                min-height: 200px;
            }
        }
        .textContainer {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: self-start;
            justify-content: space-between;
            padding: 70px 50px 50px;
            color: white; /* Assuming text will need to be visible */
            .title{
                h2{
                    font-size: 42px;

                    span{
                        font-size: 16px;
                        color: #001038;
                    }
                }
            }
            .copy{
                max-width: 300px;
            }
        }
        @include md{
            flex-direction: column;
            .container{
            }
            .imageContainer{
                width: 100%;

            }
            .textContainer{
                width: 100%;
                
                align-items: center;
            }
        }
    }
}


